.tasklist {
    margin-top: 4rem;
}
.tasklist header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
}
.tasklist header .createdTasks {
    color: var(--blue);
    font-weight: bold;
}
.tasklist header .completedTasks {
    color: var(--purple);
    font-weight: bold;
}
.tasklist header span {
    color: var(--gray-200);
    background: var(--gray-400);
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: bold;
}