.wrapper {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.addTaskLabel {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
}
label button {
  width: 5.625rem;
  border-radius: 8px;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}
label button:hover {
  background: var(--blue);
}
label button svg {
  line-height: 1;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.taskHeader .createdTasks {
  color: var(--blue);
  font-weight: bold;
}
.taskHeader .completedTasks {
  color: var(--purple);
  font-weight: bold;
}
.taskHeader span {
  color: var(--gray-200);
  background: var(--gray-400);
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: bold;
}
/* Quando a tela for menor que 768px*/
@media (max-width: 768px) {
  html {
      font-size: 87.5%;
  }
  .wrapper {
      grid-template-columns: 1fr;
  }
}