.wrapper {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Quando a tela for menor que 768px*/
@media (max-width: 768px) {
  html {
      font-size: 87.5%;
  }
  .wrapper {
      grid-template-columns: 1fr;
  }
}